<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button id="startButton">let's begin!</button>
  </body>
</html>

<script>
  document.getElementById("startButton").onclick = function() {
    window.location.href = '/login';
  };
</script>
